@import "./fonts.css";

:root {
    --webinar-color: #DFAD63;
    --join_chat-color: #8BB47D;
    --privite_massage-color: #5982C0;
    --participant-color: #A0A0A0;

    --web2-color: #DFAD63;
    --online-color: #8BB47D;
    --inprivate-color: #5982C0;
    --offline-color: #A0A0A0;


}


/* BASE CONFIG */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:
}

body {
    font-family: "", Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none
}

button {
    background: none;
    border: none;
}

/* BASE CONFIG */


section {
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 10px;

}


.row {
    display: flex;

}

.col-3 {
    width: 25%;
}

/* HEADER */


.header {

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 0px 60px 0px 53px;
}

.header__container {
    max-width: 1345px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

}

.LudiCams {
    margin-left: 15px;
}

.point {
    display: inline-block;
    width: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 39px;
    margin-right: 15px;
    background: #8BB47D;
}

.baycoin {
    text-decoration: underline;
}

.header__burger {
    display: none;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: gray;
}

.header__burger::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: gray;
    top: -5px;
}

.header__burger::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: gray;
    bottom: -5px;
}

/* MAIN*/
.main {


    background: #E5E5E5 no-repeat center/cover;
    padding: 52px 0px 93px 0px;

}

.main__container {
    padding: 0 60px;
}

.main__title {
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    color: #3C3C3C;
}

.row {
    flex-wrap: wrap;
    row-gap: 20px;
    max-width: 1345px;
    

}


.main__img {
    display: block;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    object-position: center;
}

.card1 {
    position: relative;
    max-width: 304px;
}

.card__title {
    position: absolute;
    padding: 3px 8px 3px 7px;
    width: 85px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    background: #DFAD63;
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


.card__bottom {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "card1 card2 card2 card2 card2";
    width: 304px;
    height: 222px;
    background: #FFFFFF;

}

.img__bottom {
    padding: 19px 0px 0px 15px;
    grid-area: card1;
}

.discr__bottom {
    height: 100%;
    padding: 19px 0px 0px 5px;
    grid-area: card2;
}


.img__buttom {
    margin-top: 19px;
}

/* .discr {
    width: 304px;
    height: 222px;
    display: block;
    color: #3C3C3C;

} */

.discr__title {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 6px;
}

.discr__disc {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 7px;
}

.discr__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 33px;
}

.discr__button {
        margin-right: 34px;
    width: 200px;
    height: 32px;
    background: #DFAD63;
    border-radius: 2px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
}

.join {
    background-color: var(--join_chat-color)
}

.web {
    background-color: var(--webinar-color)
}

.private {
    background-color: var(--privite_massage-color)
}

.participant {
    background-color: var(--participant-color)
}

.web2 {
    background-color: var(--web2-color);
}

.online {
    background-color: var(--online-color);
}

.inprivate {
    background-color: var(--inprivate-color);
}

.offline {
    background-color: var(--offline-color);
}

/* FOOTER */
footer {}

.footer__container {
    max-width: 1345px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 128px;
}

.LudiCams2 {
    margin-left: 12px;
    margin-right: 167px;
}

.footer__nov {
    display: flex;
}

.footer__nov a {
    margin-right: 30px;
}

.copy {
    margin-left: 89px;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
        text-align: right;
    letter-spacing: 0.01px;
    color: #989898;

}